<h1>home</h1>


<section>
  <h2>common</h2>
  <p id="info">no info</p>
  
  <article>
    <label for="infoText">info text:</label>
    <input type="text" id="infoText" name="infoText" value="initial value">
    <button id="setInfo">set info</button>
  </article>
  
  <script>
    $('#setInfo').click(function() { $('#info').text($('input[name=infoText]').val()); });
  </script>
</section>


<section>
  <h2>mouse</h2>
  <a id="mousedown" href="#">mousedown</a>
  <button id="mouseup">mouseup</button>
  <span id="click">click</span>
  
  <a id="link" href="/subpage">subpage</a>
  
  <script>
    $('#setInfo').click(function() { $('#info').text($('input[name=infoText]').val()); });
    
    function logEvent(e) {
      $('#info').text(e.type + ' fired');
    };
    
    $('#mousedown').mousedown(logEvent);
    $('#mouseup').mouseup(logEvent);
    $('#click').click(logEvent);
  </script>
</section>


<section>
  <h2>forms</h2>
  
  <article>
    <div>
      <input id="uncheckedCheckbox" name="uncheckedCheckbox" type="checkbox" value="1">
      <label for="uncheckedCheckbox">unchecked checkbox</label>
    </div>
    <div>
      <input id="checkedCheckbox" name="checkedCheckbox" type="checkbox" checked="checked" value="1">
      <label for="checkedCheckbox">checked checkbox</label>
    </div>
  </article>
  
  <form action="/post" method="post">
    <div>
      <label>test input: <input type="text" name="testInput" value="test value"></label>
    </div>
    <input type="submit" id="submitButton" value="submit test">
  </form>
</section>


<section>
  <h2>enumerable</h2>
  <ol>
    <li>first item</li>
    <li>second item</li>
    <li>third item</li>
  </ol>
</section>


<section>
  <h2>wait</h2>
  
  <button id="delayAddButton">add element with delay</button>
  <button id="delayRemoveButton">remove element with delay</button>
  
  <script>
    $('#delayAddButton').click(function() {
      var section = $(this).parent();
      setTimeout(function() {
        section.append('<p id="delayed">delayed element</p>');
      }, 100);
    });
    $('#delayRemoveButton').click(function() {
      setTimeout(function() {
        $('#delayed').remove();
      }, 100);
    });
  </script>
</section>


<section>
  <h2>visibility</h2>
  <div id="boxParent">
    <div id="box"></div>
  </div>
  <button id="resetBoxButton">reset visibility</button>
  <button id="displayNoneButton">display: none</button>
  <button id="visibilityHiddenButton">visibility: hidden</button>
  <button id="parentDisplayNoneButton">parent display: none</button>
  
  <script>
    $('#resetBoxButton').click(function() {
      $('#box').css('display', 'block');
      $('#box').css('visibility', 'visible');
      $('#boxParent').css('display', 'block')
    });
    $('#displayNoneButton').click(function() { $('#box').css('display', 'none'); });
    $('#visibilityHiddenButton').click(function() { $('#box').css('visibility', 'hidden'); });
    $('#parentDisplayNoneButton').click(function() { $('#boxParent').css('display', 'none'); });
  </script>
</section>


<section>
  <h2>cookies</h2>
  <button id="setCookie">set cookie</button>
  <button id="getCookie">get cookie</button>

  <script>
    $('#setCookie').click(function() { $.cookie('foo', 'bar'); });
    $('#getCookie').click(function() { $('#info').text($.cookie('foo')); });
  </script>
</section>

