<p id="info">no info</p>
<label for="infoText">info text:</label>
<input type="text" id="infoText" name="infoText" value="initial value" />
<label>dummy field: <input type="text" name="dummyField" value="dummy value" />
<button id="setInfo">set info</button>

<div id="mouse">
  <a id="mousedown" href="#">mousedown</a>
  <button id="mouseup">mouseup</button>
  <span id="click">click</span>
  
  <a id="link" href="/subpage">subpage</a>
</div>

<div id="cookies">
  <button id="setCookie">set cookie</button>
  <button id="getCookie">get cookie</button>
</div>

<ol>
  <li>first item</li>
  <li>second item</li>
  <li>third item</li>
</ol>

<script>
  //throw new Error('yeah');
  
  $('#setInfo').click(function() { $('#info').text($('input[name=infoText]').val()); });
  
  var logEvent = function(e) {
    $('#info').text(e.type + ' fired');
  };
  
  $('#mousedown').mousedown(logEvent);
  $('#mouseup').mouseup(logEvent);
  $('#click').click(logEvent);
  
  $('#setCookie').click(function() { $.cookie('foo', 'bar'); });
  $('#getCookie').click(function() { $('#info').text($.cookie('foo')); });
</script>
